<%= form_with model: [@post, @post.comments.build], local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<!--  <div class="form-group">-->
    <%#= form.label :author, :class => "form-label" %>
    <%#= form.select(:author_id, Author.all.collect {|a| [ a.first_name, a.id ] }, :class => "form-control") %>
<!--  </div>-->

  <div class="form-group ">
    <%= form.label :body, :class => "form-label" %>
    <%= form.text_area :body, :rows => 5, :class => "form-control col-md-4 shadow-none" %>
  </div>

<!--  <div class="form-group">-->
    <%#= form.label :status, :class => "form-label" %>
    <%#= form.collection_select :status, Comment.statuses.map { |a| [a.first, a.first] }, :first, :second, :class => "form-control" %>
<!--  </div>-->

  <%= form.submit :class => "btn btn-outline-success shadow-none" %>
<% end %>