<p id="notice"><%= notice %></p>

<div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%= link_to 'New Post', new_post_path, :class => "p-2 link-secondary" %>
    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
        about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>
  <% @posts.each do |post| %>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><%= post.author.first_name %></strong>
            <h3 class="mb-0"><%= post.title %></h3>
            <!--            <div class="mb-1 text-muted">Nov 12</div>-->
            <br>
            <p class="card-text mb-auto"><%= post.content %></p>
            <br>
            <p style="width: 80px" class="btn btn-dark">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
                <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
              </svg> <span class="badge"><%= post.views %></span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-fill" viewBox="0 0 16 16">
                <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z"/>
              </svg> <span class="badge" ><%= post.comments.count %></span>
            </p>
            <br>
            <%= link_to 'Show', post, :class => "btn btn-info", :style => 'width:80px' %>
            <br>
            <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning", :style => 'width:80px' %>
            <br>
            <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger", :style => 'width:80px' %>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag(post.image, height: '200', width: '250') %>
          </div>
      </div>
    </div>
  </div>
  <% end %>

</main>
<footer class="blog-footer text-center">
  <p>@Blog footer</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

