<p id="notice"><%= notice %></p>

<div class="container">

  <div class="nav-scroller py-1 mb-2">
    <nav class="nav d-flex justify-content-between">
      <%= link_to 'New Post', new_post_path, :class => "p-2 link-secondary" %>
      <a class="p-2 link-secondary" href="#">World</a>

    </nav>
  </div>
</div>

<main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 font-italic">Title of a longer featured blog post</h1>
      <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently
        about what’s most interesting in this post’s contents.</p>
      <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
    </div>
  </div>

  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <% @posts.each do |post| %>
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary"><%= post.author.first_name %></strong>
            <h3 class="mb-0"><%= post.title %></h3>
            <!--            <div class="mb-1 text-muted">Nov 12</div>-->
            <br>
            <p class="card-text mb-auto"><%= post.content %></p>
            <br>
            <%= link_to 'Show', post, :class => "btn btn-info" %>
            <br>
            <%= link_to 'Edit', edit_post_path(post), :class => "btn btn-warning" %>
            <br>
            <%= link_to 'Destroy', post, method: :delete, data: {confirm: 'Are you sure?'}, :class => "btn btn-danger" %>
          </div>
          <div class="col-auto d-none d-lg-block">
            <%= image_tag(post.image, height: '250', width: '250') %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<footer class="blog-footer text-center">
  <p>@Blog footer</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

