<p id="notice"><%= notice %></p>
<div class="row justify-content-center align-items-center h-100">
  <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
    <div class="p-3 mb-2 bg-light text-dark">
      <p>
        <strong>Author:</strong>
        <%= @post.author.first_name %>
      </p>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
      <p>
        <strong>Title:</strong>
        <%= @post.title %>
      </p>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
      <p>
        <strong>Content:</strong>
        <%= @post.content %>
      </p>
    </div>
    <div class="p-3 mb-2 bg-light text-dark">
      <p>
        <strong>Image:</strong>
        <br>
        <%= image_tag(@post.image, height: '300', width: '300') %>
      </p>
    </div>

    <h2><%= @post.comments.count %> Comments</h2>
    <%= render @post.comments %>

    <h2>Add a comment:</h2>
    <%= render 'comments/form_comment' %>
    <%= link_to 'Edit', edit_post_path(@post), :class => "btn btn-primary" %>
    <%= link_to 'Back', posts_path, :class => "btn btn-primary" %>
  </div>
</div>