<!--<script>-->
<!--    $(function () {-->
<!--        $("#comments_select").change(function () {-->
<!--            $('#comments_show').submit()-->
<!--        })-->
<!--    })-->
<!--</script>-->

<!--<form action="<%#= post_path(@post) %>" method='get' id='comments_show'>-->
<!--  <div class='field'>-->
<!--    <select name='comments_status' class='btn btn-outline-dark shadow-none' id='comments_select'>-->
<!--      <option <%#= @comment_status == 'published' ? 'selected' : '' %> >Published</option>-->
<!--      <option <%#= @comment_status == 'unpublished' ? 'selected' : '' %> >Unpublished</option>-->
<!--    </select>-->
<!--  </div>-->
<!--</form>-->

<% @comments.each do |comment| %>
  <article class="blog-post">
    <p class="blog-post-meta">
      <%= gravatar_for comment.author %>
      <strong class="d-inline-block mb-2 text-primary"><%= comment.author.first_name %></strong></p>
    <p>
      <small class="text-muted"><%= distance_of_time_in_words(comment.created_at, Time.now) %></small>
      <br>
      <%if comment.created_at < comment.updated_at%><span class="edited" style="color: #cc0000;">edited</span><%end%>
      <%= comment.body %></p>
    Sum:<%= comment.votes_for.size %>
    <br>
    <%= comment.get_upvotes.size %>
    <%= link_to ('<i class="fa fa-thumbs-up"></i>').html_safe, like_post_comment_path(@post, comment), method: :put %>
    <%= comment.get_downvotes.size %>
    <%= link_to ('<i class="fa fa-thumbs-down"></i>').html_safe, dislike_post_comment_path(@post, comment), method: :put %>

  </article>
  <%# if comment.status == 'unpublished' %>
  <%#= link_to 'Publish Comment', publish_post_comment_path(@post.id, comment.id), method: :post, :class => "btn btn-outline-dark shadow-none" %>
  <%# end %>
  <% if comment.author == current_user %>
    <% if comment.created_at >= 1.hour.ago %>
      <%= link_to 'Edit', edit_post_comment_path(@post, comment), :class => "btn btn-outline-dark shadow-none" %>
    <% end %>
    <%= link_to 'Destroy Comment', [comment.post, comment], :class => "btn btn-outline-danger shadow-none",
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  <% end %>
  <br>
  <br>
  <hr class="featurette-divider w-25 d-inline-block">
<% end %>
